<div class="educ-conteneur " [class.example-is-mobile]="mobileQuery.matches">

  <div class="contenaire-toolbar mat-elevation-z7">
    <mat-toolbar  class="toolbar" color="primary">

      <mat-toolbar-row class="toolRow">
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

        </div>
        <span >
       <img src="assets/images/logo.png" class="petit">

  </span>
        <span>
    <button mat-button routerLink="/accueil">
      <strong >Accueil</strong> </button>
  </span>
        <button mat-button>NOTRE OFFRE</button>
       <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>group</mat-icon>
           ESPACE STAGIAIRE
          </button>
          <button mat-menu-item>
            <mat-icon>import_contacts</mat-icon>
           SALARIES GAGNANT
          </button>
          <button mat-menu-item>
            <mat-icon>question_answer</mat-icon>
           CONSULTANT
          </button>
        </mat-menu>-->
        <button mat-button  (click)="onMembres()">LES MEMBRES</button>

        <button mat-button   (click)="onAbonnees()">LES ABONNEES</button>

        <button mat-button   (click)="onAdmin()">ADMINISTRATION</button>

        <span class="searche-spacer"></span>
        <span class="boutton">
          <button class="connecteButton" (click)="inscription()">S'inscrire</button>
        <button mat-button   color="accent" (click)="login()">Se connecter</button>
        </span>
        <mat-icon class="searche-icon">search</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


  <mat-sidenav-container class="educ-side-container"  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <!--  <mat-sidenav #sidenav mode="over" class="sidenavBar" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="menubar">
        <div class="principal">
          <div class="box">
            <mat-nav-list class="nlist mat-elevation-z8">
              <a mat-list-item="" class="nav-li" routerLink="">
                <mat-icon mat-list-icon="" color="accent" class="material-icons nav">home</mat-icon>
                <span class="nav">Accueil</span> </a>

            </mat-nav-list>
          </div>

          <div>
            <mat-nav-list class="nlist">
              <a  mat-list-item="" routerLink="/invite" class="nav-li">
                <mat-icon mat-list-icon="" class="nav">person</mat-icon>
                <span class="nav">Invite</span>
              </a>
            </mat-nav-list>
          </div>
          <mat-divider></mat-divider>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <span>FORMATION</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <mat-icon mat-list-icon="" class="nav">person_outline</mat-icon>
                <span class="nav">Etudiants</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li" routerLink="/matiere">
                <mat-icon mat-list-icon="" class="material-icons nav">school</mat-icon>
                <span class="nav">Matieres</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <mat-icon class="material-icons nav">lock_outline</mat-icon>
                <span class="nav">Cours</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <i class="material-icons nav">work</i>
                <span class="nav">Sales</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <mat-icon mat-list-icon="" class="material-icons nav">invert_colors</mat-icon>
                <span class="nav">Filieres</span> </a>
            </mat-nav-list>
          </div>
          <mat-divider></mat-divider>
          <div class="box">
            <mat-nav-list class="nlist">
              <a mat-list-item="" class="nav-li">
                <span >ADMINISTRTION</span> </a>

            </mat-nav-list>

          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a class="nav-li" mat-list-item="" routerLink="/enseignant">
                <mat-icon mat-list-icon="" class="material-icons nav">chat_bubble</mat-icon>
                <span class="nav">Membres</span> </a>
            </mat-nav-list>
          </div>
          <div class="box">
            <mat-nav-list class="nlist">
              <a class="nav-li" mat-list-item="" routerLink="">
                <mat-icon mat-list-icon="" class="material-icons nav">account_circle</mat-icon>
                <span class="nav">Employe</span> </a>
            </mat-nav-list>
          </div>

        </div>

      </div>
    </mat-sidenav>-->

    <mat-sidenav-content class="side-content">

      <div>
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footbar></app-footbar>
</div>

