<div class="container">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/11-700x467.jpg" alt="1 slide"></div>
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/11-700x467.jpg" alt="2 slide"></div>
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/11-700x467.jpg" alt="3 slide"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/03-700x471.jpg" alt="4 slide"></div>
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/10-700x525.jpg" alt="5 slide"></div>
          <div class="col-sm"><img class="d-block w-100" src="assets/photo/11-700x467.jpg" alt="6 slide"></div>
        </div>
      </div>
    </div>
  </div>
</div>

